body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  /* height: 100vh; */

  min-height: 100vh;
  margin: 0;
  padding: 0;


}


.middle-part {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.middle-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
 
}

@media (min-width: 1000px) {
  .middle-part {

    display: flex;

    margin-left: 200px;


  }
}

