.thumbnail {
  width: 100%;


}



.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}




.video-info-grid {
  display: flex;
  flex-direction: row;

}

.video-info-box {
  display: flex;

}

.channel-picture {

  vertical-align: top;
  position: relative;


}


.tooltip-box {
  background-color: rgb(255, 255, 255);
  z-index: 999;
  width: 200px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
  border: none;
  border-radius: 10px;


  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  padding: 15px;
  margin-top: 45px;


  position: absolute;

}

.tooltip-box .owner {
  margin-left: 5px;
}

.tooltip-box .owner .name {
  font-size: 16px;
  font-weight: bold;
}

.tooltip-box .owner .subscribers {
  font-size: 14px;
  color: rgb(87, 85, 85);
  margin-top: 5px;
}

.channel-picture:hover .tooltip-box {

  opacity: 1;
}


.channel-picture .tooltip-box {
  pointer-events: none;

  transition: opacity .15s;
  margin-top: 5px;
  opacity: 0;


}


.profile-picture {
  width: 36px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;

}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  z-index: 1;
  ;


}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  
  
}



@media (max-width: 750px) {
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
  }

}


@media (min-width: 1200px) {
    .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 130px;
 
    
  }

  .video-author,
.video-stats {
  font-size: 14px;
  
}
.video-title {
  font-size: 16px;
  line-height: 24px;
}
}




.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  
  font-size: 12px;
  font-weight: 500;
padding: 4px;
  border-radius: 2px;
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: black;
}