body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  /* height: 100vh; */

  min-height: 100vh;
  margin: 0;
  padding: 0;


}


.middle-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.middle-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}