.instragram_icon,
.home,
.search,
.explore,
.video,
.send,
.love,
.add,
.user,
.menu,
.also {
  height: 25px;

}

nav {

  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 50px;
  
  top: 0;
  bottom: 0;
  left: 0;

  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  transition: width 0.15s ease;

  z-index: 999;
}



.top-box {
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 10px;

}

.icon-box {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;

  height: 38px;
  width: 38px;
  border-radius: 8px;

  transition: all 0.15s;
  padding-left: -3px;


}

.top-box:hover,
.icon-box:hover {
  background-color: rgb(26, 26, 26);
}


.middle-box {
  display: flex;
  flex-direction: column;
  
  row-gap: 20px;

}

.bottom-box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

button {
  background-color: transparent;
  border: none;
}

.text {
  color: white;
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  opacity: 0;

}




/* for Tablet view*/

@media(min-width: 751px) and (max-width: 1000px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transition: width 0.15s;

    display: flex;
    justify-content: space-between;

  }

  nav:hover,
  .icon-box:hover {

    width: 240px;
  }

  .middle-box {
    column-gap: -50px;
  }

  button {
    text-align: left;
  }


  .text {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  nav:hover .text {
    opacity: 1;
  }
}



/* for mobile view*/

@media (max-width: 750px) {

  nav {
    height: 0px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: -15px;
    right: 0;
    left: 0;
    top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top-width: 1px;
    border-top-color: rgb(41, 40, 40);
    border-top-style: solid;

  }

  .middle-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    align-items: center;

  }

  .icon-box {
    cursor: pointer;
  }


  .icon-box:has(.love),
  .icon-box:has(.explore),
  .bottom-box,
  .top-box {
    display: none !important;
    pointer-events: none;
  }



  .icon-box {
    z-index: 1000;
  }

}



/*Floating message*/

.floating {
  position: fixed;
  bottom: 35px;
  right: 30px;
  background-color: rgb(37, 36, 36);
  border-radius: 30px;
  padding-left: 10px;
  width: 250px;

  

}

.f-icon-box {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.floating .f-send {
  height: 25px;
  width: 25px;
}

.floating .f-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

.floating:hover {
  background-color: rgb(51, 48, 48);
}