.story-ring {
  height: 130px;
  padding-left: 100px;
  padding-right: 100px;

  display: flex;
  flex-direction: row;


 
  
 
}

.ring {
  width: 90px;
  height: 90px;
  background: conic-gradient(
    #fa0660, #b81cc3, #d62976, #fcfc56, #912510, #f44545
  );
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.ring .person {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  text-align: center;
  
 
}

.person-handle {
  color: white;
  text-align: center;
  font-size: 13px;
  margin: 0px;
  

}

.one-story {
  
height: 110px;
width: 90px;


padding: 10px 10px 10px 10px;
}

@media (max-width: 550px) {

  .ring {
  width: 85px;
  height: 85px;
  background: conic-gradient(
    #fa0660, #b81cc3, #d62976, #fcfc56, #912510, #f44545
  );
display: flex;
justify-content: center;
align-items: center;




}
  .ring .person {
 height: 70px;
  width: 70px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: black;

 
}
}